<ion-content [fullscreen]="true">
  <img class="background-image" src="/assets/images/1725086412.jpg">
  <br>
  <h1 style="text-align:center;">Administrar Usuarios</h1>
  <ion-card> 
    <ion-card >
      <ion-card-header style="color: rgba(255, 255, 255, 0.812)">
        <p style="color: rgb(255, 255, 255)">Cuenta Administrador</p>
        {{ usuario!.firstName }} {{ usuario!.lastName }}
      </ion-card-header>
      <ion-card-content style="color: rgb(0, 0, 0)">
        <!-- Puedes agregar más detalles del usuario aquí si es necesario -->
        
        <!-- Otros detalles del usuario... -->
      </ion-card-content>
    </ion-card>
  </ion-card>  
  <ion-card  *ngFor="let usuario of filtrarUsuarioEnSesion()">
    <ion-card-header style="color: rgba(6, 6, 6, 0)">
      {{ usuario.firstName }} {{ usuario.lastName }}
    </ion-card-header>
    <ion-card-content style="color: rgb(201, 198, 198);">
      <!-- Puedes agregar más detalles del usuario aquí si es necesario -->
      Correo: {{ usuario.email }}
    </ion-card-content>

    <div class="button-container">
      <ion-button class="delete-button" (click)="eliminarUsuario(usuario)">
        <img src="/assets/images/1214428.png" alt="Eliminar" style="width: 20px; height: 20px;">
      </ion-button>
    </div>
  </ion-card>
</ion-content>

<style>
/* Contenedor del botón */
.button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  margin-top: 10px;
}

/* Estilo del botón */
.delete-button {
  --background: #ff4d4d; /* Fondo rojo */
  --color: white;        /* Color del texto o ícono */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cambio de color al pasar el mouse */
.delete-button:hover {
  --background: #e60000; /* Fondo rojo oscuro */
}
</style>

