<ion-content class="ion-padding ion-text-center" class="video-container" [fullscreen]="true">

  <!-- <img class="background-image" src="/assets/images/IMG_20230406_080720.jpg"> -->
  <img class="background-image" src="/assets/images/1725086412.jpg">
  <div class="ion-text-center">
    <h1 id="wellcome_title">{{ 'WelcomePage.Title.Wellcome' | translate }}</h1>
    <h1 id="wellcome_user">{{ user.firstName }} {{ user.lastName }}</h1>
  </div>

  

  <div class="frame">
    <video class="video" #video></video>
    <div class="qr-overlay"></div>
    <div class="moving-horizontal-line"></div>
    <ion-button class="stop-button" (click)="stopQrScanning()">
      {{'HomePage.Button.Detener' | translate}}
    </ion-button>
  </div>

  <canvas #canvas hidden></canvas>

</ion-content>
